- name: Upgrade worker nodes
  # Do not upgrade terabox automatically
  hosts: workers:!storage
  remote_user: root

  # Upgrade hosts one by one
  #strategy: mitogen_host_pinned
  strategy: host_pinned
  serial: 1

  tasks:
    - name: Sync node configuration
      ansible.builtin.shell:
        cmd: kubeadm upgrade node

    - name: Upgrade system
      register: upgraded
      community.general.pacman:
        upgrade: true
        update_cache: true
